PORT=8888
UPDATE_MODE=1
TOKEN=xxxxxxxxxxxxxxxxxx
WEBHOOK_URL=https:/your-app.herokuapp.com/webhook
DATABASE_URL=postgres://postgres:postgres@localhost:5432/miranda?sslmode=disable
GROUP_ID=-234324324324
BOT_USERNAME=BGLIbot
